html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



/*body {
  margin-bottom: 60px;
}*/
.navdiv {
    border: 2px solid #000;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.imgdiv {
    height: 55px;
}

.imagedivindex
{
  /*  width : 70%;*/
}